.App {
  text-align: center;
  background: antiquewhite;
  min-height: 100vh;
  min-width: 100vw;
}

.login {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}
